.custom-card-layout {
    margin-bottom: 1rem;
}

.custom-card-text {
    margin-bottom: 1.5rem !important;
}

.detials-button-right {
    float: right;
    margin-right: 1rem;
}

.book-mark-button {

    font-size: 3rem !important;
    float: right;
    margin-right: 2rem;
    right: 10rem;
}

.book-mark-button-checked {
    color: red;
    font-size: 3rem !important;
    float: right;
    margin-right: 2rem;
    right: 10rem;
}

.empty-card-text {
    text-align: center;
}